body,
html {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    background: url('/images/login_bg.jpg');
    padding: 15px;
    text-align: center;
}

#logo-img {
    position: absolute;
    top: 20px;
    left: 15px;
}

.login-b {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 400px;
    height: 250px;
    background-color: rgb(226, 214, 214);
    /* background: url('/images/1.jpg') no-repeat center; */
    /* background-size: 200px 200px; */
    border: 1px solid rgb(230, 212, 212);
    box-shadow: 5px 0 30px rgba(56, 52, 55, 0.5);
    padding-right: 40px;
    padding-top: 15px;
}

.box2 {
    display: none;
}

.tit {
    font-size: 25px;
    font-weight: 700;
    color: salmon;
    margin-bottom: 10px;
}

#tit .layui-icon-face-smile-b {
    color: skyblue;
    font-size: 30px;
}

.layui-form-label {
    color: rgb(39, 1, 3);
    font-size: 16px;
    font-weight: 700;
}

#reg {
    font-size: 20px;
    font-style: normal;
    position: absolute;
    top: 220px;
    right: 20px;
    cursor: pointer;
}