html,
body {
    padding: 0;
    margin: 0;
}

body {
    padding: 15px;
    background-color: rgb(230, 202, 202);
}

.layui-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#addForm {
    padding-top: 25px;
    padding-right: 20px;
}